html,body {
    background-color: cadetblue;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

/*  Header    */

.top_header_bar {
    background-color: #eeeeee;
    border-bottom: 1px solid #e2e2e2;
}

.top_header_bar_user_choices{
    text-align: right;
}

.top_header_bar_user_choice{
    padding-left: 10px;
    text-decoration: none !important;
}

.top_header_bar_user_choices :hover{
    transition: 0.25s;
}

.banner_bar{
    padding-top: 15px;
    padding-bottom: 15px;
}

.banner_bar_link{
    display: block;
}

.banner_bar_logo {
    height: 90px;
    background: url("../icons/krasas-new-logo.png") no-repeat center;
    background-size: contain;
}

.banner_bar_delivery {
    line-height: 15px;
    text-align: center;

}

.banner_bar_working_hours {
    font-size: 11px;
    font-weight: bold;
}

.banner_bar_telephone {
    font-size: 18px;
    font-weight: bold;
}

.banner_bar_cart {
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-align: right;
}

.banner_bar_cart_summary{
    font-weight: normal;
    text-align: right;
    display: block;
}

.ribbon_bar_ribbon_content{
    background-color: red;
    display: inline-block;
}

.ribbon_bar_ribbon_content:hover{
    cursor: default;
}

.ribbon_bar_choice{
    color: white;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.fa-circle{
    vertical-align: middle;
    padding: 5px;
    font-size: 8px;
}

.fa-circle:hover{
    cursor: default;
}

.ribbon_bar_choice:hover{
    background-color:white;
    color: red;
    text-decoration: none !important;
}

.quote_bar{
    padding-top: 15px;
    padding-bottom: 15px;
}

.quote_bar_line{
    display: block;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.red_color{
    color: red;
}

.gray_color{
    color: gray;
}

.black_color{
    color: black;
}

.white_color{
    color: white;
}

/*  Section    */

#section{
    background-color: white;
    min-height: 400px;
}

.coupon_bar{
    margin: 20px 0 10px 0;
    display: block;
    background-color: red;
    color: white;
    line-height: 34px;
    font-size: 14px;
}

.coupon_bar > div{
    padding-left: 10px;
    padding-right: 10px;
}

.coupon_bar_text{
    display: block;
    text-align: right;
}

.coupon_bar_input{
    margin-bottom: auto;
    margin-top: auto;
    display: inline-block;
    width: 100%;
    height: 20px;
    color: red;
    text-align: center;
    padding: 0;
}

.coupon_bar_button{
    font-weight: bold;
    padding: 5px;
}

.coupon_bar_button:hover{
    cursor: pointer;
    color: red;
    background-color: white;
}

.section_header_bar{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.section_header_bar_parallel_lines{
    background: url("../icons/krasas_theodor_bar.png") repeat-x;
    height: 38px;
}

.section_banner_bar{
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_banner_bar_banner{
    background-size: contain;
    height: 300px;
    background: url("../icons/top-menu-bg.jpg") no-repeat center;
}

.section_header_description_bar{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_header_description_bar_title{
    padding-bottom: 10px;
}

.section_header_description_bar_ad{}

.section_circles{
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_circles_product_image{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: gray url("../icons/krasas-new-logo.png") no-repeat center;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.section_circles_circle_image{
    background: transparent url("../icons/product-mask.png") no-repeat center;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}

.section_circles_image_link{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.section_circles_product_title{
    display: block;
    text-align: center;
    text-decoration: none;
}

.section_circles_product_title_link{
    padding: 5px;
    color: red;
    text-decoration: none;
    font-size: 14px;
}

.section_circles_product_title_link:hover{
    text-decoration: none;
}

.section_circles_product {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.section_circles_product:hover{
    text-decoration: none;
}

.section_circles_cart_button{
    background-color: red;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: 2px solid red;
}

.section_circles_cart_button:hover{
    background-color: white;
    color: red;
    text-decoration: none;
}

/*  Catalog    */

#catalog_choice{
    padding-top: 10px;
    padding-bottom: 10px;
}

#catalog_menu{
    background-color: gray;
    font:bold 16px solid black;
    text-align: center;
    cursor: pointer;
}

#catalog_menu > div{
    vertical-align: middle;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#catalog_menu > div:hover{
    background-color: orangered;
}

.catalog_product_item{
    padding:0;
}

.catalog_product_item_new{
    text-align: right;
    font: 12px solid white;
}

.catalog_product_description{
    padding:0;
    line-height: 1.2;
}

.new_product_img{

    background-color: red;
    border-radius: 50%;
}

.inspect_item:hover{
    background-color: #28a4c9;
    cursor: pointer;
}

/*  Krasopita */

.item_photo{
    padding: 0;
    border: 2px solid rebeccapurple;
    height: 260px;
    white-space: nowrap;
}
.img_test{
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
/*  Footer    */

.footer_section{
    background-color: #414143;
}

.footer_bar_social_networks {
    font-weight: bold;
}

/*  Responsive  */

/*  Header      */

@media only screen and (min-width: 768px){

    .ribbon {
        position: relative;
        background: #ba89b6;
        color: #fff;
        display: inline-block
    }

    .ribbon:before, .ribbon:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -10px;
        border: 15px solid #986794;
        z-index: -1;
    }

    .ribbon:before {
        left: -20px;
        border-right-width: 15px;
        border-left-color: transparent;
    }

    .ribbon:after {
        right: -20px;
        border-left-width: 15px;
        border-right-color: transparent;
    }

    .ribbon .ribbon_bar_ribbon_content:before, .ribbon .ribbon_bar_ribbon_content:after {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: yellow transparent transparent transparent;
        bottom: -10px;
    }

    .ribbon .ribbon_bar_ribbon_content:before {
        left: 0;
        border-width: 10px 0 0 10px;
    }

    .ribbon .ribbon_bar_ribbon_content:after {
        right: 0;
        border-width: 10px 10px 0 0;
    }
}
@media only screen and (max-width: 767px){

    .top_header_bar_user_choices{
        text-align: center;
    }

    .banner_bar_link{
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .banner_bar_delivery{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .banner_bar_cart{
        text-align: center;
        padding-top: 5px;
    }

    .banner_bar_cart_summary{
        padding-bottom: 5px;
        text-align: center;
    }

    .ribbon_bar_responsive_container{
        position: relative;
    }

    .ribbon_bar_small_responsive{
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 0;
        margin: 0;
        background-color: red;
        border-radius: 0;
    }

    .ribbon_bar_small_responsive_text{
        display: inline-block !important;
    }

    #ribbon_bar_responsive{
        background-color: red;
        z-index: 9999;
        position: absolute;
        top: 23px;
        margin-left: 15px;
        margin-right: 15px;
        left: 0;
        right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .ribbon_bar_ribbon_content{
        display: block;
    }

    .ribbon_bar_ribbon_content > .fa-circle{
        display: none;
    }

    .ribbon_bar_choice{
        display: block;
    }

    .quote_bar_line{
        font-size: 15px;
    }


    /*  Section   */

    .coupon_bar > .col-xs-12{
        text-align: center;
    }

    .coupon_bar_text{
        text-align: center;
        line-height: 20px;
    }

    .section_header_bar{
        margin-right: auto;
        margin-left: auto;
    }

    .section_header_bar > .col-xs-1, .section_header_bar > .col-xs-10{
        padding-right: 0;
        padding-left: 0;
    }

    /*  Footer   */

    .footer_section{
        text-align: center;
    }

    .footer_bar_social_networks{
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}