html,body {
    background-color: pink;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

/*  Header    */

.top_header_bar {
    background-color: #eeeeee;
    border-bottom: 1px solid #e2e2e2;
}

.top_header_bar_user_choices{
    padding-left: 10px;
    text-decoration: none !important;


}

.top_header_bar_user_choices :hover{
    transition: 0.25s;
}

.banner_bar{
    padding-top: 15px;
    padding-bottom: 15px;
}

.banner_bar_link{
    display: inline-block;
}

.banner_bar_logo {
    background: url("../icons/krasas-new-logo.png") no-repeat;
    height: 90px;
    background-position: center;
    width: 255px;

}



.banner_bar_delivery {
    line-height: 15px;
    text-align: center;

}
.banner_bar_working_hours {
    font-size: 11px;
    font-weight: bold;
}

.banner_bar_telephone {
    font-size: 18px;
    font-weight: bold;
}

.banner_bar_cart {
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-align: right;
}

.banner_bar_cart_summary{
    font-weight: normal;
    text-align: right;
    display: block;
}

.ribbon_bar{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ribbon_bar_ribbon_content{
    background-color: red;
    display: inline-block;
}

.ribbon_bar_choice{
    color: white;
    padding: 5px;
    display: inline-block;

}

.ribbon_bar_choice:hover{
    background-color:white;
    color: red;
    text-decoration: none !important;
}

.red_color{
    color: red;
}

.gray_color{
    color: gray;
}

.black_color{
    color: black;
}

.white_color{
    color: white;
}





/*/*/

.quote_line{
    display: block;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*  Section    */

/*/*/
#section{
    background-color: white;
    min-height: 400px;
}

.coupon_part{
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-left: 0;
    padding-right: 0;
}
#coupon_text{
    color: white;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

#category{
    text-align: center;
    vertical-align: middle;

}
#category_text{
    font-weight: bold;
    min-height: 30px;
    font-size: 24px;
    line-height: 30px;
}
.category_paraller_lines{
    background: red;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 30px;
}
#photo{
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid magenta;
    display: block;
    margin-right: auto;

}

#products_panel{
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#products_panel > .row{
    margin-top: 40px;
    margin-bottom: 40px;
}
.product_info{
    display: block;

}
.cart_button{
    background-color: red;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.round_img{
    border-radius: 50%;
    border: 2px solid red;
    height: 128px;
    width: 128px;
    background-color: gray;
}
#category_description{
    text-align: center;
    font-size: 18px;
}

#category_description > span{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

/*  Catalog    */

#catalog_choice{
    padding-top: 10px;
    padding-bottom: 10px;
}

#catalog_menu{
    background-color: gray;
    font:bold 16px solid black;
    text-align: center;
    cursor: pointer;
}

#catalog_menu > div{
    vertical-align: middle;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#catalog_menu > div:hover{
    background-color: orangered;
}

.catalog_product_item{
    padding:0;
}

.catalog_product_item_new{
    text-align: right;
    font: 12px solid white;
}

.catalog_product_description{
    padding:0;
    line-height: 1.2;
}

.new_product_img{

    background-color: red;
    border-radius: 50%;
}

.inspect_item:hover{
    background-color: #28a4c9;
    cursor: pointer;
}

/*  Krasopita */

.item_photo{
    padding: 0;
    border: 2px solid rebeccapurple;
    height: 260px;
    white-space: nowrap;
}
.img_test{
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
/*  Footer    */

#footer{
    background-color: #414143;
}

.footer_section{
    min-width: 80%;
}
/*/*/
.list-unstyled li a:hover{
    font-weight: bold;
}